<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1540974195715-681a4872dd65?ixlib=rb-1.2.1&w=1000&q=80"
                    alt="" class="h-100 w-100">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="font-weight-bold">15$</p>
                    <a href="#" class="btn btn-success float-right">Buy product</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1540974195715-681a4872dd65?ixlib=rb-1.2.1&w=1000&q=80"
                    alt="" class="h-100 w-100">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="font-weight-bold">15$</p>
                    <a href="#" class="btn btn-success float-right">Buy product</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1540974195715-681a4872dd65?ixlib=rb-1.2.1&w=1000&q=80"
                    alt="" class="h-100 w-100">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="font-weight-bold">15$</p>
                    <a href="#" class="btn btn-success float-right">Buy product</a>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1540974195715-681a4872dd65?ixlib=rb-1.2.1&w=1000&q=80"
                        alt="" class="h-100 w-100">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="font-weight-bold">15$</p>
                        <a href="#" class="btn btn-success float-right">Buy product</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1540974195715-681a4872dd65?ixlib=rb-1.2.1&w=1000&q=80"
                        alt="" class="h-100 w-100">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="font-weight-bold">15$</p>
                        <a href="#" class="btn btn-success float-right">Buy product</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1540974195715-681a4872dd65?ixlib=rb-1.2.1&w=1000&q=80"
                        alt="" class="h-100 w-100">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="font-weight-bold">15$</p>
                        <a href="#" class="btn btn-success float-right">Buy product</a>
                    </div>
                </div>
            </div>

        </div>
    </div>